:root {
  --blue: #012a36;
  --vanilla: #f6f5ae;
  --white: #ffffff;
  --orchid: #dc6acf;
  --burgundy: #462749;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 28px;
}

p {
  font-family: 'Sintony', sans-serif;
  font-size: 18px;
}

.timeline-nav {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 0;
  width: 100vw;
  left: 100%;
  z-index: 1;
}

.nav-links {
  display: flex;
  width: 100vw;
  background-color: #aa6eab;
}

.nav-links > a {
  flex-grow: 1;
}

.anchor-link {
  text-align: center;
}

.anchor-link.men {
  width: 12vw;
}

.anchor-link.fp {
  width: 27vw;
}

.anchor-link.ov {
  width: 12vw;
}

.anchor-link.lp {
  width: 41vw;
}

.anchor-link.end {
  width: 8vw;
}

.anchor-link > h2 {
  font-size: 22px;
  color: white;
  transition: all .1s Linear;
}

.nav-links a:hover > .anchor-link h2 {
  color: var(--vanilla);
  transform: scale(1.3);
}

#uterine-wall {
  width: 0%;
  overflow: hidden;
}

#uterine-wall > img {
  width: 100vw;
}

.graph {
  width: 100vw;
}

.hormones{
  position: absolute;
  display: flex;
  left: 100%;
  z-index: 1;
  justify-content: space-around;
  flex-grow: 1;
  width: 100vw;
  margin-top: 40vh;
}

.hormones > div {
  flex-grow: 1;
  text-align: center;
}

.fsh-label {
  color: #b3b386;
  font-weight: 700;
}

.lh-label {
  color: #f7f7c4;
  font-weight: 700;
}

.estrogen-label {
  color: #d099c5;
  font-weight: 700;
}

.progesterone-label {
  color: #844c84;
  font-weight: 700;
}

#content-container {
  height: 100vh;
  width: 2100vw;
  background-color: var(--blue);
  display: flex;
}

.panel {
  color: white;
  height: 40vh;
  border: solid 0.5px white;
}

.section-heading {
  text-align: left;
}

.content {
}

.text {
  display: flex;
  justify-content: space-around;
}

.text > p {
  text-align: center;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.text > p {
  width: 40vw;
}

.menstruation-start,
.menstruation-end,
.ovulation {
  width: 200vw;
}

.follicular-phase {
  width: 400vw;
}

.luteal-phase {
  width: 600vw;
}

.title {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300vw;
    height: 40vh;
}

.conclusion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
