:root {
  --blue: #012a36;
  --vanilla: #f6f5ae;
  --white: #ffffff;
  --orchid: #dc6acf;
  --burgundy: #462749;
}

h1 {
  font-family: 'Sintony', sans-serif;
  font-size: 60px;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

p {
  font-family: 'Sintony', sans-serif;
  font-size: 18px;
}
